p{
    font-size: 24px;
    font-family: 'Calibri';
    color:rgb(90, 43, 43);
    text-align: left;
}

.Imagenes{
    color: rgb(31, 13, 13);
}
body{
    background-color: rgb(165, 171, 190);
}